body {
  margin: auto;
  width: 90%;
}

.info {
  display: inline;
  margin: 18px;
}

.name {
  display: inline;
  margin: 18px;
}

.name:hover {
  cursor: pointer;
  background-color: #FFC0CB;
}

h3 {
  margin: 18px;
}

input[type=text] {
  max-width: 200px;
  display: inline;
  margin: 18px;
}

button {
  display: inline;
}